<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<resultMap type="Board" id="boardMap">
		<id column="board_idx" property="board_idx"/>
		<result column="member_idx" property="member.member_idx"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<result column="hit" property="hit"/>
		<result column="recommend" property="recommend"/>	
	</resultMap>
	<sql id="all" >
		${boardName}_idx as board_idx, member_idx, title, writer, regdate, hit, recommend
	</sql>
	<select id="selectWeeklyRankByRecommend" resultMap="boardMap" parameterType="java.util.HashMap">
		select <include refid="all" /> from ${boardName}
		where year(regdate)=year(now()) and  month(regdate)=month(now()) and week(regdate)=week(now())
		order by recommend desc, hit desc limit 10
	</select>
	<select id="commentCount" resultType="int" parameterType="java.util.HashMap">
		select count(*) as commentCount from ${boardName}_comment
		where ${boardName}_idx=#{board_idx}
	</select>
</mapper>