<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExrDetailRecord">

	<select id="selectByExrRecord" parameterType="int" resultType="ExrDetailRecord">
		select *
		from exr_record_detail
		where exr_record_idx=#{exr_record_idx}
	</select>

	<!-- 운동기록에서 하나의 운동이 생성될때 같이 생성될 운동 상세 DML -->
	<!-- 또 운동상세기록을 수정할 때 사용될 DML -->
	<insert id="insertByExrRecord" parameterType="ExrDetailRecord">
		insert into exr_record_detail (exr_record_idx, set_number, kg, times)
		values (#{exr_record_idx}, #{set_number}, #{kg}, #{times})
	</insert>
	
	<!-- 운동기록에서 하나의 운동이 지워질때 수행되어질 DML -->
	<delete id="deleteByExrRecord" parameterType="int">
		delete from exr_record_detail where exr_record_idx=#{exr_record_idx}
	</delete>

</mapper>