<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExrRecord">

	<!-- 운동하나와 관련된 세부목록을 불러오는 resultMap -->
	<resultMap type="ExrRecord" id="ExrRecordMap">
		<id column="exr_record_idx" property="exr_record_idx"/>
		<result column="exr_name" property="exr_name"/>
		<result column="sets" property="sets"/>
		<result column="regdate" property="regdate"/>
		
		<!-- 나중에 member_idx와 association해서 가져와야 함 -->
		
		<collection
			column="exr_record_idx"
			property="exrRecordDetailList"
			javaType="java.util.List"
			ofType="ExrDetailRecord"
			select="ExrDetailRecord.selectByExrRecord"/>
	</resultMap>
	
	<!-- 한달간 운동 기록을 불러오는 쿼리-->
	<select id="selectForMonth" resultType="ExrRecord" parameterType="Map">
		select * 
		from exr_record 
		where regdate between #{firstDay} and #{lastDay}
		order by regdate asc 
	</select>
	
	<select id="selectForDay" parameterType="String" resultMap="ExrRecordMap">
		select *
		from exr_record
		where regdate = #{regdate}
	</select>
	
	<!-- 운동기록 등록 -->
	<insert id="insert" parameterType="ExrRecord">
		insert into exr_record (member_idx, exr_name, regdate)
		values (24, #{exr_name}, #{regdate})
		<!-- 운동기록에서 하나의 운동명이 추가된 후, 상세 기록(세트, kg, 갯수)를 기록하기 위한 키 -->
		<selectKey order="AFTER" keyColumn="exr_record_idx" keyProperty="exr_record_idx" resultType="int">
			select last_insert_id() as exr_record_idx
		</selectKey>
	</insert>
	
	<update id="update" parameterType="ExrRecord">
		update exr_record
		set exr_name=#{exr_name}
		where exr_record_idx=#{exr_record_idx}
	</update>
	
	<delete id="delete" parameterType="int">
		delete 
		from exr_record
		where exr_record_idx=#{exr_record_idx}
	</delete>
	
</mapper>