<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExrRecord">
	
	<insert id="insert" parameterType="ExrRecord">
		insert into exr_record (member_idx, exr_name, regdate)
		values(16, #{exr_name}, #{regdate})
		<!-- 운동기록에서 하나의 운동명이 추가된 후, 상세 기록(세트, kg, 갯수)를 기록하기 위한 키 -->
		<selectKey order="AFTER" keyColumn="exr_record_idx" keyProperty="exr_record_idx">
			select last_insert_id() as exr_record_idx
		</selectKey>
	</insert>

</mapper>