<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PhysicalRecord">

	<insert id="insert" parameterType="PhysicalRecord">
		insert into physical_record (member_idx, height, weight, musclemass, bodyFat, BMI, regdate)
		values (#{member_idx}, #{height}, #{weight}, #{musclemass}, #{bodyFat}, #{bmi}, #{regdate})
	</insert>
	
	<select id="selectForMonth" resultType="PhysicalRecord" parameterType="Map">
		select * 
		from physical_record
		where regdate between #{firstDay} and #{lastDay}
		and member_idx=#{member_idx}
		order by regdate asc
	</select>
	
	<!-- 신체기록 한 건 가져오기위한 select -->
	<select id="select" parameterType="PhysicalRecord" resultType="PhysicalRecord">
		select * from physical_record
		where member_idx=#{member_idx} and regdate=#{regdate}
	</select>
	
	<update id="update" parameterType="PhysicalRecord">
		update physical_record
		set height=#{height}, weight=#{weight}, musclemass=#{musclemass}, bodyFat=#{bodyFat}, BMI=#{bmi}
		where regdate=#{regdate} and member_idx=#{member_idx}
	</update>
	
	<delete id="delete" parameterType="PhysicalRecord">
		delete from physical_record
		where member_idx=#{member_idx} and regdate=#{regdate}
	</delete>	

</mapper>



