<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExrNoticeImg">



	<!-- resultMap에서 호출 -->
	<select id="selectByExrNotice" parameterType="int" resultType="ExrNoticeImg">
		select * from exr_notice_img
		where exr_notice_idx=#{exrNotice.exr_notice_idx}
	</select>

	<insert id="insert" parameterType="ExrNoticeImg">
		insert into exr_notice_img(exr_notice_idx, filename)
		values(#{exrNotice.exr_notice_idx}, #{filename})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from exr_notice_img
		where exr_notice_idx=#{exrNotice.exr_notice_idx}
	</delete>

</mapper>