<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExrRoutineComment">

	<resultMap type="ExrRoutineComment" id="resultMap">
		<id column="exr_routine_comment_idx" property="exr_routine_comment_idx"/>
		<result column="writer" property="writer"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<result column="post" property="post"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
		<result column="exr_routine_idx" property="exrRoutine.exr_routine_idx"/>
		<result column="member_idx" property="member.member_idx"/>
	</resultMap>


	<select id="selectByFk" parameterType="int" resultMap="resultMap">
		select * from exr_routine_comment
		where exr_routine_idx=#{exrRoutine.exr_routine_idx}
	</select>


	<!-- 답글은 1씩 무조건 증가시킴 -->
	<insert id="insert" parameterType="ExrRoutineComment">
		insert into exr_routine_comment(exr_routine_idx, member_idx, writer, content, post, step, depth)
		values(#{exrRoutine.exr_routine_idx}, #{member.member_idx}, #{writer}, #{content}, #{exrRoutine.exr_routine_idx}, #{step}+1, #{depth}+1)
	</insert>
	
		
	<delete id="delete" parameterType="int">
		delete from exr_routine_comment
		where exr_routine_comment_idx=#{exr_routine_comment_idx}
	</delete>
	
	

	<!-- 해당 글에서 가장 마지막 댓글 구하기 -->
	<select id="selectMaxStep" parameterType="ExrRoutineComment" resultType="int">
		select max(step) from exr_routine_comment
		where post=#{post}
	</select>
	
		

	<!-- 댓글 자리가 올 곳 마련 -->
	<update id="updateStep" parameterType="ExrRoutineComment">
		update exr_routine_comment set step=#{step}+1
		where post=#{post} and step>#{step}
	</update>
	
	
	<!-- 대댓글 등록하기 -->
	<insert id="reply" parameterType="ExrRoutineComment">
		insert into exr_routine_comment(writer, content, post, step, depth)
		values(#{writer}, #{content}, #{post}, #{step}+1, #{depth}+1)
	</insert>
	

</mapper>