<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExrTodayComment">

	<resultMap type="ExrTodayComment" id="resultMap">
		<id column="exr_today_comment_idx" property="exr_today_comment_idx"/>
		<result column="writer" property="writer"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<result column="post" property="post"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
		<result column="exr_today_idx" property="exrToday.exr_today_idx"/>
		<result column="member_idx" property="member.member_idx"/>
	</resultMap>


	<select id="selectAllByToday" parameterType="int" resultMap="resultMap">
		select * from exr_today_comment where exr_today_idx=#{exr_today_idx}
		order by post desc, step asc
	</select>
	

	<!-- 첫 댓글은 1씩 무조건 증가시킴 -->
	<insert id="insert" parameterType="ExrTodayComment">
		insert into exr_today_comment(exr_today_idx, member_idx, writer, content, post, step, depth)
		values(#{exrToday.exr_today_idx}, #{member.member_idx}, #{writer}, #{content}, #{post}, #{step}+1, #{depth}+1)
		
		<selectKey keyColumn="exr_today_comment_idx" keyProperty="exr_today_comment_idx" order="AFTER" resultType="int">
			select last_insert_id() as exr_today_comment_idx from dual
		</selectKey>
	</insert>
	
	
	<!-- 고유의 idx 값을 post로 지정하기 위해서 post를 업데이트 시킬 것 -->
	<update id="update" parameterType="ExrTodayComment">
		update exr_today_comment set post=#{post}
		where exr_today_comment_idx=#{exr_today_comment_idx}
	</update>
	
	
	<delete id="delete" parameterType="int">
		delete from exr_today_comment
		where exr_today_comment_idx=#{exr_today_comment_idx}
	</delete>
	
		
	<!-- 해당 글에 대한 답글의 수 구하기 -->
	<select id="totalCount" resultType="int" parameterType="int">
		select count(*) from exr_today_comment
		where exr_today_idx=#{exr_today_idx}
	</select>
	

	<!-- 해당 글에서 가장 마지막 댓글 구하기 -->
	<select id="selectMaxStep" parameterType="ExrTodayComment" resultType="int">
		select max(step) from exr_today_comment
		where post=#{post}
	</select>
	


	<!-- 댓글 자리가 올 곳 마련 -->
	<update id="updateStep" parameterType="ExrTodayComment">
		update exr_today_comment set step=#{step}+1
		where post=#{post} and step>#{step}
	</update>
	
	
	<!-- 대댓글 등록하기 -->
	<insert id="reply" parameterType="ExrTodayComment">
		insert into exr_today_comment(writer, content, post, step, depth)
		values(#{writer}, #{content}, #{post}, #{step}+1, #{depth}+1)
	</insert>
	

</mapper>