<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DietCategory">

	<select id="selectAll" resultType="DietCategory">
		select * from diet_category order by diet_category_idx desc
	</select>

	<select id="select" parameterType="int" resultType="DietCategory">
		select * from diet_category where diet_category_idx=#{diet_category_idx}
	</select>
	
	<insert id="insert" parameterType="DietCategory">
		insert into diet_category(diet_category_idx, diet_category_name)
		values(#{diet_category_idx}, #{diet_category_name})
	</insert>
	
	<update id="update" parameterType="DietCategory">
		update diet_category set diet_category_name=#{diet_category_name}
		where diet_category_idx=#{diet_category}
	</update>

	<delete id="delete" parameterType="int">
		delete from dietCategory where diet_category_idx=#{diet_category_idx}
	</delete>
</mapper>