<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DietTip">
	<resultMap type="DietTip" id="tipMap">
		<id column="diet_tip_idx" property="diet_tip_idx"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="recommend" property="recommend"/>
		<result column="regdate" property="regdate"/>
		<result column="hit" property="hit"/>
		
		<collection property="commentList" column="diet_tip_idx" 
		javaType="java.util.List" ofType="DietTipComments"
		select="DietTipComments.selectByIdx"/>	
		
	</resultMap>
	
	<select id="selectAll" resultMap="tipMap">
		select * from diet_tip order by diet_tip_idx desc
	</select>
	
	<select id="select" resultMap="tipMap" parameterType="int">
		select * from diet_tip where diet_tip_idx=#{diet_tip_idx}
	</select>
	
	<insert id="insert" parameterType="DietTip">
		insert into diet_tip(member_idx,title,writer, content)
		values(#{member.member_idx},#{title},#{writer}, #{content})
		
		<selectKey 
			keyColumn="diet_tip_idx"
			keyProperty="diet_tip_idx"
			order="AFTER"
			resultType="int">
			
			select last_insert_id() as diet_tip_idx
		</selectKey>
	</insert>
	
	<update id="update" parameterType="DietTip">
		update diet_tip set title=#{title}, content=#{content} where diet_tip_idx=#{diet_tip_idx}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from diet_tip where diet_tip_idx=#{diet_tip_idx}
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="addHit" parameterType="int">
		update diet_tip set hit=hit+1 where diet_tip_idx=#{diet_tip_idx}
	</update>
	
	<!-- 추천수 증가 -->
	<update id="addRecommend" parameterType="int">
		update diet_tip set recommend=recommend+1 where diet_tip_idx=#{diet_tip_idx}
	</update>
	
	<!-- 검색하기 -->
	<select id="selectBySearch" resultType="DietTip" parameterType="java.util.Map">
		select * from diet_tip where title like '%${keyword}%'
	</select>
	

</mapper>