<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InterestDietShare">
	<insert id="insert" parameterType="Interest">
		insert into interest_diet_share(diet_share_idx, member_idx) values(#{idx}, #{member_idx})
	</insert>
	
	<delete id="delete" parameterType="Interest">
		delete from interest_diet_share where member_idx = #{member_idx} and interest_diet_share_idx = #{idx}
	</delete>
</mapper>