<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mypost">
	<select id="selectTotal" parameterType="Member" resultType="int">
		select count(*) from (
			select * from free_board where member_idx = #{member_idx}
			union
			select * from counselling_board where member_idx = #{member_idx}
			union
			select * from qna_board where member_idx = #{member_idx}
		) forcount
	</select> 

	<select id="selectMypost" parameterType="Map" resultType="Mypost">
		SELECT *  FROM (
			SELECT ROW_NUMBER() OVER (ORDER BY regdate DESC) AS ROWNUM, table_name, idx, title, regdate FROM (
				select '자유게시판' as table_name, free_board_idx as idx, title, regdate from free_board where member_idx = #{member.member_idx}
				union
				select '익명게시판' as table_name, counselling_board_idx as idx, title, regdate from counselling_board where member_idx = #{member.member_idx}
				union
				select 'QnA' as table_name, qna_board_idx as idx, title, regdate from qna_board where member_idx = #{member.member_idx}
				union 
				select '운동루틴' as table_name, exr_routine_idx as idx, title, regdate from exr_routine where member_idx = #{member.member_idx}
				union 
				select '운동팁' as table_name, exr_tip_idx as idx, title, regdate from exr_tip where member_idx = #{member.member_idx}
				union 
				select '식단공유' as table_name, diet_share_idx as idx, title, regdate from diet_share where member_idx = #{member.member_idx}
				union 
				select '식단팁' as table_name, diet_tip_idx as idx, title, regdate from diet_tip where member_idx = #{member.member_idx}
			) result
		)  mypost WHERE ROWNUM BETWEEN #{start} AND #{end};
	</select>
</mapper>