<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Password">
	<select id="selectByMember" parameterType="Member" resultType="Password">
		select * from password where member_idx = #{member.member_idx}
	</select>

	<insert id="insert" parameterType="Member">
		insert into password(member_idx, pass) values(#{member_idx}, #{password.pass})
	</insert>
	
	<update id="update" parameterType="Member">
		update password set pass = #{password.pass} where member_idx = #{member_idx}
	</update>
</mapper>