<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  <typeAliases>
  	<!-- Member Alias -->
 	<typeAlias type="com.edu.bodybuddy.domain.member.Member" alias="Member"/>
 	<typeAlias type="com.edu.bodybuddy.domain.member.Address" alias="Address"/>
  
    <!-- Exr Alias -->
	<typeAlias type="com.edu.bodybuddy.domain.exr.Exr_Category" alias="Exr_Category" />
 	
 	<!-- Mypage Alias -->
 	<typeAlias type="com.edu.bodybuddy.domain.mypage.Report" alias="Report"/>
 	<typeAlias type="com.edu.bodybuddy.domain.mypage.Ask" alias="Ask"/>
 	<typeAlias type="com.edu.bodybuddy.domain.mypage.Ask_img" alias="Ask_img"/>
 	
 	<!-- Board Alias -->
 	<typeAlias type="com.edu.bodybuddy.domain.board.FreeBoard" alias="FreeBoard"/>
 	
  </typeAliases>
  <mappers>
    <mapper resource="com/edu/bodybuddy/mybatis/member/MemberMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/member/AddressMapper.xml"/>
    
    <!-- Exr Mapper -->
    <mapper resource="com/edu/bodybuddy/mybatis/exr/Exr_CategoryMapper.xml"/>
    
    <!-- Mypage Mapper -->
    <mapper resource="com/edu/springshop/mybatis/mypage/ReportMapper.xml"/>
    <mapper resource="com/edu/springshop/mybatis/mypage/AskMapper.xml"/>
    <mapper resource="com/edu/springshop/mybatis/mypage/Ask_imgMapper.xml"/>

    <mapper resource="com/edu/bodybuddy/mybatis/board/FreeBoardMapper.xml"/>
  </mappers>
</configuration>