<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  <typeAliases>
  	<!-- Member Alias -->
 	<typeAlias type="com.edu.bodybuddy.domain.member.Member" alias="Member"/>
 	<typeAlias type="com.edu.bodybuddy.domain.member.Address" alias="Address"/>
 	<typeAlias type="com.edu.bodybuddy.domain.member.Password" alias="Password"/>
 	
 	<!-- Myrecord Alias -->
 	<typeAlias type="com.edu.bodybuddy.domain.myrecord.PhysicalRecord" alias="PysicalRecord"/>
 	<typeAlias type="com.edu.bodybuddy.domain.myrecord.ExrRecord" alias="ExrRecord"/>
 	<typeAlias type="com.edu.bodybuddy.domain.myrecord.ExrDetailRecord" alias="ExrDetailRecord"/>
 	<typeAlias type="com.edu.bodybuddy.domain.myrecord.DietRecord" alias="DietRecord"/>
  
  	<!-- Exr Alias -->
  	<typeAlias type="com.edu.bodybuddy.domain.exr.ExrCategory" alias="ExrCategory" />
  	<typeAlias type="com.edu.bodybuddy.domain.exr.ExrNotice" alias="ExrNotice" />
  	<typeAlias type="com.edu.bodybuddy.domain.exr.ExrRoutine" alias="ExrRoutine" />
  	<typeAlias type="com.edu.bodybuddy.domain.exr.ExrRoutineComment" alias="ExrRoutineComment" />
  	<typeAlias type="com.edu.bodybuddy.domain.exr.ExrTip" alias="ExrTip" />
 	
 	<!-- Diet Alias -->
 	<typeAlias type="com.edu.bodybuddy.domain.diet.DietCategory" alias="DietCategory" />
 	<typeAlias type="com.edu.bodybuddy.domain.diet.DietInfo" alias="DietInfo" />
 	<typeAlias type="com.edu.bodybuddy.domain.diet.DietTip" alias="DietTip" />
 	<typeAlias type="com.edu.bodybuddy.domain.diet.DietTipComments" alias="DietTipComments" />
 	<typeAlias type="com.edu.bodybuddy.domain.diet.DietShare" alias="DietShare" />
 
 	<!-- Mypage Alias -->
 	<typeAlias type="com.edu.bodybuddy.domain.mypage.Report" alias="Report"/>
 	<typeAlias type="com.edu.bodybuddy.domain.mypage.Ask" alias="Ask"/>
 	<typeAlias type="com.edu.bodybuddy.domain.mypage.Ask_img" alias="Ask_img"/>
 	
 	<!-- Board Alias -->
 	<typeAlias type="com.edu.bodybuddy.domain.board.FreeBoard" alias="FreeBoard"/>
 	<typeAlias type="com.edu.bodybuddy.domain.board.QnaBoard" alias="QnaBoard"/>
 	<typeAlias type="com.edu.bodybuddy.domain.board.CounsellingBoard" alias="CounsellingBoard"/>
 	
 	<typeAlias type="com.edu.bodybuddy.domain.board.FreeBoardComment" alias="FreeBoardComment"/>
 	<typeAlias type="com.edu.bodybuddy.domain.board.QnaBoardComment" alias="QnaBoardComment"/>
 	<typeAlias type="com.edu.bodybuddy.domain.board.CounsellingBoardComment" alias="CounsellingBoardComment"/>
 	
  </typeAliases>
  
  <mappers>
    <mapper resource="com/edu/bodybuddy/mybatis/member/MemberMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/member/AddressMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/member/PasswordMapper.xml"/>

    <!-- Myrecord Mapper -->
    <mapper resource="com/edu/bodybuddy/mybatis/myrecord/PhysicalRecordMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/myrecord/ExrRecordMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/myrecord/ExrDetailRecordMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/myrecord/DietRecordMapper.xml"/>

    <!-- Exr Mapper -->
    <mapper resource="com/edu/bodybuddy/mybatis/exr/ExrCategoryMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/exr/ExrNoticeMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/exr/ExrRoutineMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/exr/ExrRoutineCommentMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/exr/ExrTipMapper.xml"/>
    
    <!-- Diet Mapper -->
    <mapper resource="com/edu/bodybuddy/mybatis/diet/DietCategoryMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/diet/DietInfoMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/diet/DietTipMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/diet/DietTipCommentsMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/diet/DietShareMapper.xml"/>
    
    <!-- Mypage Mapper -->
    <mapper resource="com/edu/bodybuddy/mybatis/mypage/ReportMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/mypage/AskMapper.xml"/>

    <mapper resource="com/edu/bodybuddy/mybatis/mypage/AskimgMapper.xml"/>


	<!-- Board Mapper -->
    <mapper resource="com/edu/bodybuddy/mybatis/board/FreeBoardMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/board/QnaBoardMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/board/CounsellingBoardMapper.xml"/>
    
    <mapper resource="com/edu/bodybuddy/mybatis/board/FreeBoardCommentMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/board/QnaBoardCommentMapper.xml"/>
    <mapper resource="com/edu/bodybuddy/mybatis/board/CounsellingBoardCommentMapper.xml"/>
    


  </mappers>
</configuration>